In [2]:
#Series 
import pandas as pd
import numpy as np

obj11 = pd.Series(['a','b','c','d'])
obj11

0    a
1    b
2    c
3    d
dtype: object

In [8]:
import pandas as pd
import numpy as np


obj11 = pd.Series(['a','b','c','d'], index=[10,11,12,13])
obj22 =pd .Series({"ID": 4394,"name": "Qadeer","fname" : "Raza Muhammad"})
obj22

obj11 = pd.Series(['a','b','c','d'], index=[10,11,12,13])
obj22 =pd .Series({"ID": 4394,"name": "Qadeer","fname" : "Raza Muhammad"})
obj22
obj22.index
obj22.values
obj22.name = "Studentdata"
obj22.index.name ="S.no"
obj22

S.no
ID                4394
name            Qadeer
fname    Raza Muhammad
Name: Studentdata, dtype: object

In [12]:
import pandas as pd
import numpy as np

obj11 = pd.Series(['a','b','c','d'], index=[10,11,12,13])
obj11[10] = 'z'
print(obj11)

10    z
11    b
12    c
13    d
dtype: object

In [24]:
#Data frames
frame11 = pd.DataFrame({
    "day" :[1,2,3,4,5],
    "temperature" :[20,10,15,18,16],
    "wind " :[30,40,45,35,50],
    "rainy " :[True,False,False,True,False]
    
    
})
frame11

   day  temperature  wind   rainy
0    1           20     30    True
1    2           10     40   False
2    3           15     45   False
3    4           18     35    True
4    5           16     50   False

In [22]:

frame12 = pd.DataFrame([
    {"day":1,"temp" :23,"wind":43},
     {"day":2,"temp" :33,"wind":44},
    ] )
frame12

   day  temp  wind
0    1    23    43
1    2    33    44

In [23]:
frame13 = pd.DataFrame([
    (1,33,23),
    (2,28,40),
    (3,32,43),
], columns=["day","temp","wind"])

frame13

   day  temp  wind
0    1    33    23
1    2    28    40
2    3    32    43

In [28]:
#finding an excel file 
frame14 = pd.read_excel("E:\data.xlsx")##for csv file use csv instead of excel and xlsx

frame14

  Python programming language  Unnamed: 2  Unnamed: 3    1987
0    c++           progrmming         NaN         NaN  1986.0
1     ms               office         NaN         NaN     NaN

In [29]:
##making an excel file
frame11 = pd.DataFrame({
    "day" :[1,2,3,4,5],
    "temperature" :[20,10,15,18,16],
    "wind " :[30,40,45,35,50],
    "rainy " :[True,False,False,True,False]
    
    
})
frame11.to_excel("weather.xlsx",sheet_name ="sheet1")
frame11
http://localhost:8888/notebooks/Untitled57.ipynb?kernel_name=python3#

   day  temperature  wind   rainy
0    1           20     30    True
1    2           10     40   False
2    3           15     45   False
3    4           18     35    True
4    5           16     50   False